{% extends "layout.html" %} 

{% block content %}
<div class="container mx-auto max-w-5xl p-4">
  <h1 class="pb-8 text-xl">Adicionar solução</h1>

  <form action="{{ url_for('postRoutes.insert_solution') }}" method="post" enctype="multipart/form-data">
    <div class="border-b border-gray-900/10 pb-16 max-w-5xl mx-auto">
      <div class="grid grid-cols-1 gap-6">
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="title">Título do post</label>
          <input class="w-full border border-gray-300 rounded-xl py-4 px-6" type="text" id="title" name="title" required />
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="author">Autor do post</label>
          <input class="w-full border border-gray-300 rounded-xl py-4 px-6" type="text" id="author" name="author" required />
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="image">Inserir imagem</label>
          <div class="flex items-center justify-center w-full">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 mb-3 text-gray-500 dark:text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
                </svg>                
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Clique para adicionar uma imagem</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="content">Conteúdo</label>
          <div id="editor" class="w-full text-base font-medium border border-gray-300 rounded-b-xl py-4 px-6"></div>
          <input type="hidden" id="content" name="content" />
        </div>
      </div>
    </div>
    <div class="max-w-5xl mx-auto mt-6 flex items-center justify-end gap-x-4">
      <button type="button" class="leading-6 text-gray-900 border border-gray-300 hover:border-indigo-500 hover:text-indigo-500 transition duration-500 rounded-xl px-6 py-4 tracking-wide">Cancelar</button>
      <button type="submit" class="rounded-xl px-6 py-4 tracking-wide bg-indigo-600 text-white hover:bg-indigo-500 transition duration-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar</button>
    </div>
  </form>
</div>
{% endblock %}