{% extends "layout.html" %} 

{% block header %}
  <a href="/" class="flex hover:text-indigo-500 group transition duration-500">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500 mr-2 group-hover:text-indigo-500 transition duration-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Voltar
  </a>
{% endblock %}


{% block content %}
<div class="container mx-auto max-w-5xl p-6">

  <div class=px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    {% for post in posts %}
      <div class="p-6 mb-4 rounded-xl bg-gray-400">
        <h1>{{ post.title }}</h1>
        <p>{{ post.author }}</p>
        <div>
          {{ post.content | safe }}
        </div>
        <img src="data:image/jpeg;base64, {{ post.image_base64 }}" alt="Image">
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
